<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.xlx.system.dao.MenuMapper">

    <!-- 通用查询映射结果 -->
    <resultMap id="BaseResultMap" type="com.xlx.system.entity.Menu">
        <id column="menu_id" property="menuId"/>
        <result column="status" property="status"/>
        <result column="gmt_create" property="gmtCreate"/>
        <result column="gmt_modified" property="gmtModified"/>
        <result column="menu_name" property="menuName"/>
        <result column="icon" property="icon"/>
        <result column="type" property="type"/>
        <result column="url" property="url"/>
        <result column="parent_id" property="parentId"/>
        <result column="permis" property="permis"/>
    </resultMap>

    <!-- 通用查询结果列 -->
    <sql id="Base_Column_List">
        status,
        gmt_create,
        gmt_modified,
        menu_id, menu_name, icon, type, url, parent_id, permis
    </sql>
    <select id="selectMenuByUserId" parameterType="java.lang.Long"
            resultMap="com.xlx.system.dao.DeptMapper.BaseResultMap">
        select
        <include refid="Base_Column_List"/>
        from sys_menu m
        join sys_role_menu rm
        ON m.menu_id = rm.menu_id

        JOIN sys_user_role ur
        ON rm.role_id = ur.role_id
        and ur.user_id = #{userId}
        AND m.`status` = 1
    </select>
    <select id="selectMenuOfPermission" resultType="java.lang.String">
        select DISTINCT m.permis
        from sys_menu m
                 join sys_role_menu rm
                      ON m.menu_id = rm.menu_id

                 JOIN sys_user_role ur
                      ON rm.role_id = ur.role_id
                          and ur.user_id = #{userId}
                          AND m.`status` = 1
    </select>

</mapper>
